.form-wraper {
  align-items: center;
  justify-content: center;
  display: flex;
}

.form {
  display: flex;
  flex-direction: row;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.input {
  padding: 0.5em;
}

.btn {
  margin-left: 1em;
  text-decoration: none;
  color: black;
}
